<div id="library-component" class="overlay" data-loading-text="{{localization.loading}}">
	<form class="popup shadow-layer-1">
		<a href="#" class="close shadow-layer-2">x</a>
		<h2 class="shadow-layer-1">
			{{localization.library.header}}
		</h2>
		<div class="tag-list"></div>
		<div class="models-list">
		</div>
    <div class="footer">
      <input class="submit-btn generate-btn" type="button" value="{{localization.import}}"/>
    </div>
	</form>
</div>
