<div  id="pro-tips" class="tips-container overlay">
  <div class="tips shadow-layer-2">
    <ul class="tips-list">
      <li>{{{localization.tips.arrow_keys}}}</li>
      <li>{{{localization.tips.forward_backward}}}</li>
      <li>{{{localization.tips.mousewheel}}}</li>
      <li>{{{localization.tips.multiselect}}}</li>
      <li>{{{localization.tips.double_click}}}</li>
      <li>{{{localization.tips.copy}}}</li>
      <li>{{{localization.tips.paste}}}</li>
      <li>{{{localization.tips.select_all}}}</li>
      <li>{{{localization.tips.save}}}</li>
      <li>{{{localization.tips.rotate}}}</li>
      <li>{{{localization.tips.delete}}}</li>
    </ul>
  </div>
</div>
